@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
    font-size: 16px;

    /* colors */
    --primary-off-white: #F4F0E6;
    --white: #FAF8F1;
    --white-darker: #ddd9cb;
    /* --white-semi-transparent: rgba(255, 255, 255, 0.801); */
    --white-semi-transparent: #faf8f1cb;
    --pure-white: white;
    --dark-blue: #3D425F;
    /* --dark-blue: #3A3D4C; */
    --dark-brown: #705A52;
    --primary-green: #C6DBC3;
    --primary-yellow: #EFE6CB;
    --primary-red: #EFC0A0;
    --primary-blue: #C3CADB;
    --off-red: #F4DAC9;

    --light-grey: #c2c2ca;

    /* border related */
    --radius-sm: 1.25rem;
    --radius-40: 2.5rem;
    --radius-60: 3.75rem;
    --radius-md: 6.25rem;
    --radius-lg: 12.5rem;
    --border-regular: 0.125rem;
    --border-sm: 0.1rem;
    --card-border: var(--border-sm) solid var(--light-grey);

    /* fonts */
    --logo-font: 'Josefin Slab', serif;
    --header-font: 'Roboto Slab', serif;


    --header-xl: 4rem;
    --header-lg: 2.125rem;
    --header-lg-weight: 200;
    --header-md: 1.625rem;
    --header-md-weight: 360;
    --header-sm: 1.225rem;
    --header-sm-weight: 200;


    --max-width: 80rem;

    --shadow-color-1: #dcddde;
    --shadow-color-2: #f9fafa;
    --shadow-color-3: #f8f8f8;
    --shadow-color-4: #f4f5f5;

    /* --primary-off-white: #3A3D4C;
    --white: #242631;
    --dark-blue: #F4F0E6; */
}

/* #__nuxt {
    position: relative;
} */

@media screen and (max-width: 767px) {
    :root {
        --radius-lg: 10.5rem;
        --radius-md: 3.25rem;
        --header-xl: 3.43rem;
        --header-lg: 1.85rem;
    }

    body {
        overflow-x: hidden;
        position: relative;

        #__nuxt {
            overflow-x: hidden;
        }
    }
}

@media screen and (max-width: 1273px) and (min-width: 1105px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-width: 1105px) and (min-width: 767px) {
    :root {
        font-size: 13px;
    }
}

body {
    background-color: var(--white);
    color: var(--dark-blue);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    overflow-x: hidden;

    /* margin: 1rem; */
    /* display: grid;
    justify-content: center; */
}

@media screen and (max-width: 767px) {
    /* body {
        font-size: 1rem;
    } */
}

* {
    scrollbar-color: var(--white-darker) var(--white) ;
}

main {
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: 5rem;
    padding-inline: 1rem;
    display: grid;
    justify-content: center;
    /* margin-top: 4rem; */

}

@media screen and (max-width: 767px) {
    main {
        /* margin-inline: 0.5rem; */
        padding-inline: 1rem;
    }
}

::selection {
    background-color: var(--primary-green);
}

.underlined {
    background-image: linear-gradient(to bottom, transparent 60%, var(--primary-green) 40%);
}

img {
    color: transparent;
    /* hiding alt text until the image loads */
}

h1, h2, h3 {
    position: relative;
    z-index: 1;

    font-family: var(--header-font);
    font-weight: var(--header-md-weight);
    font-size: var(--header-lg);
    text-shadow: .075rem .2rem var(--primary-green);
    /* margin-bottom: 1rem; */

    &::before {
        /* content: ""; */
        /* width: 1.5rem; */
        height: 45%;
        aspect-ratio: 1 / 1;
        background-color: var(--primary-green);
        position: absolute;
        top: 0.5rem;
        left: -0.75rem;
        z-index: -1;

    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

h2, h3 {
    text-shadow: .075rem .0rem var(--primary-green);
}

.prose {
    p {
      padding-block: 0.35rem;
      text-indent: 1rem;

      &:first-of-type {
        text-indent: 0;
      }
    }

    p, ul, ol, li {
      padding-block: 0.35rem;
      text-align: justify;
    }

    ul, ol {
        padding-left: 1rem;
    }

    h2 + p, h1 + p {
      text-indent: 0;
    }

    h2, h3, h4, h5 {
      padding-block: 0.5rem;
    }

    img {
      border-radius: var(--radius-sm);
      margin-block: 0.5rem;
      margin-inline: auto;
    }

    
  }

h1:not(.prose *, .blog-post *) {
    font-size: var(--header-xl);
}

.h1-size {
    font-size: calc(var(--header-xl) - 0.4rem);
    text-shadow: .075rem .2rem var(--primary-green);

}

.block {
    margin-block: 6rem;
}

@media screen and (max-width: 767px) {
    .block {
        margin-block: 2rem;
    }    
}

.prose h2 {
    font-size: var(--header-md);
}

.remove-pseudo {
    &::after, &::before {
        content: none;
    }
}

h3 {
    text-shadow: unset;
    font-weight: var(--header-md-weight);
    font-size: var(--header-md);
}


h4 {
    font-weight: var(--header-sm-weight);
    font-size: var(--header-sm);
}


p {
    text-align: justify;
}

.truncated-text {
    position: relative;
    max-height: 8.4rem;
    overflow: clip;

    &::after {
        content: "";
        position: absolute;
        bottom: -0.2rem;
        right: 0;
        width: 100%;
        height: 1.6rem;
        background-image: linear-gradient(to right, transparent 20%, var(--pure-white)), linear-gradient(to top, transparent 80%, var(--pure-white));
        pointer-events: none;
    }
}

.caligraphic {
    font-family: 'Dancing Script', cursive;
}

hr {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    width: 70%;
    margin-inline: auto;
    border: 0.1rem solid var(--primary-green);
    border-radius: var(--radius-sm);
}

/* Prose related */
.prose, .site-header {
    a:not(.has-image) {
        color:inherit;
        text-decoration: none;
        background-image: linear-gradient(to bottom, transparent 60%, var(--primary-green) 40%);
        background-repeat:no-repeat;
        background-position-x: 0rem;
        transition: all 0.7s ease-out;
    
        &:hover {
            filter: opacity(0.7);
        }
    }

    
    
    .router-link-active:not(.has-image) {
        background-image: linear-gradient(to bottom, transparent 60%, var(--primary-green) 40%);
        background-position-x: 0rem;
    }
}

.site-header {
    a:not(.has-image) {
        background-position-x: -10rem;
    
        &:hover {
            background-position-x: 0rem;
            filter: none;
        }
    }
}

.prose {
    h1, h2, h3 {
        a:not(.has-image) {
            background-image: none;
        }
    }
}

.default-card {
    border-radius: var(--radius-sm);
    border: var(--card-border);
    overflow: hidden;
    max-width: 25rem;
}

.default-card-content {
    padding: 1rem;
    display: grid;
    gap: 0.5rem;
}